<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Properties>
        <Property name="log_prefix">[%d{HH:mm:ss} %level]</Property>
    </Properties>

    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="${log_prefix} %msg%n%xEx"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
